#bandeau{
    background-color: #db1342;
    margin: 0 !important;
    padding: 100px 0;
    color: white;
    text-align: center;
    font-size: 4em;
}

a {
    text-decoration: none;
    color: currentColor !important;
}
